﻿@{@model ConverterPasupuleti.Models.Converter

}
<h2>@ViewData["Title"]</h2>
<div class="col-xs-12">
    <form asp-controller="Home" asp-action="Convert" method="post" class="form-horizontal" role="form">
        <div>
                    
            <div class="form-group">
                <label asp-for="Zipcode" class="control-label"></label>
                <input asp-for="Zipcode" class="form-control" />
                <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Temperature_F"></label><br />
                <input asp-for="Temperature_F" class="form-control" />
                <span asp-validation-for="Temperature_F" class="text-danger"></span><br />
                <input type="submit" value="Convert" class="btn btn-info" />
            </div>
        </div>
    </form>
</div>
<h2>@ViewData["Result"]</h2>
<script>
    if(@ViewData["Value"]<11){
        document.body.style.backgroundImage = "url(https://dncache-mauganscorp.netdna-ssl.com/cropped-wallpapers/222/222529-1366x768-[DesktopNexus.com].jpg?st=DzpqhrM-YkSkgz4quPFqNw&e=1455506775)";

    }
    else if (@ViewData["Value"] >=11 && @ViewData["Value"] <=25){
        document.body.style.backgroundImage = "url(https://www.walldevil.com/wallpapers/a24/cartoon-wallpapers-cloud-wallpaper-nature-pictures-weather-clouds-albums.jpg)";
    }
    else{
        document.body.style.backgroundImage = "url(https://dncache-mauganscorp.netdna-ssl.com/cropped-wallpapers/420/420598-1366x768-[DesktopNexus.com].jpg?st=i8gFoLP_WKlJKx7D94LhCg&e=1455506432)";
    }
</script>

